.o_list_number_th, .o_list_number {
    text-align: left !important;
}

div[name="add_lines_module_summary"],
div[name="add_lines_resource_effort"],
div[name="add_lines_summary_totalcost"],
div[name="module_summarys"],
div[name="module_effort_activity"] {
    pointer-events: none !important;
}

.o_field_widget.o_quick_editable {
    word-break: break-all;
}
.o_form_sheet_bg .o_form_label.o_required_modifier:after {
    content: " *";
}

div[name="check_activate"] {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
}
div[name="check_activate"] .custom-control-label, div[name="check_activate"] i {
    display: none;
}
th[data-name="check_activate"] {
    width: 0 !important;
}