.o_list_number_th, .o_list_number {
    text-align: left !important;
}

div[name="add_lines_module_summary"],
div[name="add_lines_resource_effort"],
div[name="add_lines_summary_totalcost"],
div[name="module_summarys"],
div[name="module_effort_activity"] {
    pointer-events: none !important;
}

.o_field_widget.o_quick_editable {
    word-break: break-all;
}
.o_form_sheet_bg .o_form_label.o_required_modifier:after {
    content: " *";
    color: red;
}
button[name="compute_load_activities"] {
    display: block;
    position: absolute;
    z-index: 1;
    right: 16px;
}

.o_field_x2many_list[name="module_summarys"] .o_data_row:nth-child(1) td:nth-child(1),
.o_field_x2many_list[name="module_summarys"] .o_data_row:nth-child(3) td:nth-child(1){
    position: absolute;
    display: block;
    height: 56px;
    background-color: white;
    width: 29.6%;
    padding: 20px;
    border: 1px solid #efeeee;
    border-top: none;
    border-bottom: none;
}
.o_field_x2many_list[name="module_summarys"] .o_data_row:nth-child(3) td:nth-child(1) {
    border-top: 1px solid #efeeee
}