span[name="message_warning"] {
    position: absolute;
    bottom: 10px;
    text-align: center;
    right: 0;
    font-size: 16px;
    font-weight: bold;
    color: #d53030;
    border: 1px solid;
    background-color: #e9e992;
}

.exchange_rate_vnd::after {
    content: '₫';
    margin-left: 5px;
    font-weight: 600;
}

.human_resource_template {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background: #FFFFFF;
}

.human_resource_template tbody {
    display: block;
    width: 98%;
    overflow-y: scroll;
    height:calc(64vh - 141px);
    margin-top: -25px;
    margin: 0 auto;
}
#employee_id_free , #company_name_free,  #department_free {
    padding-left: 8px;
}
.human_resource_template thead tr {
    display: block;
}

.human_resource_template td {
    padding: 5px 10px;
    width: 200px;
    text-align: left;

}

.human_resource_template th {
    width: 200px;
    text-align: left;
}

.human_resource_content>tr {
    text-align: center;
}

.human_resource_template #human_resource_table .human_resource_content tr:first-child,
.human_resource_template #human_resource_free_table .human_resource_content tr:first-child {
    position: sticky;
    top: 0;
}

.human_resource_template #human_resource_table .human_resource_content tr:nth-last-child(4) {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 38px;
}
.human_resource_template #human_resource_table .human_resource_content tr:nth-last-child(2) {
    position: sticky;
    left: 0;
    right: 0;
    bottom: -3px;
    background: #eee !important;
}

.AVG_colum {
    font-weight: 900;
}

.header_tabel {
    background: #eee !important;
    color: #495057;
    width: 98%;
    margin: 0 auto;
    height: 35px;
}

.cd-title-search {
    margin-top: 15px;
}

.header_human_resource {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#human_resource_table {
    width: 100%;
    /* border-bottom: 1px solid; */
    margin: 0 auto;
}

#search_input {
    display: block;
    outline: none;
    margin: 13px 11px;
    /* background: #FAFAFA; */
    border: 1px solid gray;
    padding: 4px;
    border-radius: 3px;
}


/* .human_resource_content tr:hover {
    background-color: #ffff99;
} */

.Avg_effort_member::hover {
    background: aquamarine !important;
}

.Avg_effort_member, .total_member_avai-2 {
    background: #eee !important;
    color: #31871c;
    font-weight: 900;
}

.human_resource_content>tr:nth-child(odd) {
    background: #FAFAFA;
}

.total_member_avai, .total_member_avai_company {
    display: none;
}

.export_excel {
    margin: 0px 0px 6px 20px;
}

.title_human_resource {
    margin: 13px 0px 0px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}


.search_textbox {
    width: 45.45%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    margin-right: 12px;
}

.icon_search_human {
    width: 10px;
    height: 18px;
    position: absolute;
    margin-top: 20px;
    right: 45px;
}

.export_data {
    margin: 2px 7px 0px 7px;
    color: #6869AC;
}


/* .human_resouce_value {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
} */

.human_resource_in_top {
    background: #FFFFFF;
    /* border-bottom: 0.5px solid; */
}

.value_when_search {
    display: inline-block;
    margin: 11px 0px 0px 4px;
    position: relative;
    right: -10.6%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

#count_number_record {
    display: inline;
}

.header_tabel {
    cursor: pointer;
}

.icon-sort-header {
    width: 11px;
    display: none;
}

.header_tabel>th:hover .icon-sort-header {
    display: initial !important;
}

.human_employee_id {
    display: none !important;
}

#count_member_of_company {
    position: absolute;
    margin-top: 62px;
    left: 3%;
}

.back-ground-free {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}
#human_resource_free_table {
    margin: 20px 0 auto;
}

.human_resource_free_member {
    position: relative;
    width: 90%;
    left: 5%;
    top: 5%;
}

.view-member-free {
    position: absolute;
    top: 100px;
    right: 1%;
    border: navajowhite;
    text-decoration: none;
    background: #71639e;
    color: #FFFFFF;
    height: 32px;
    padding: 0px 16px;
    border-radius: 0;
    border-right: 8px solid #FDD835;
}

.close-table {
    cursor: pointer;
    width: 85px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    border-radius: 8px;
    background: #efefef;
    color: black;
    font-weight: 600;
    padding: 4px 0;
    letter-spacing: 0.5px;
}

.close-table:hover {
    background: #71639e;
    color: #FFFFFF;
}

button.view-member-free:hover {
    background: #71639e;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.title_member_free {
    padding: 10px 19px;
}
.bottom_tabel {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #eee !important;
    padding: 16px;
    margin: 0 auto;
    height: 35px;
    color: #31871c;
    font-weight: 800;
}
#countriesDropdown {
    position: absolute;
    top: 100px;
    right: 35.5%;
    border: navajowhite;
    text-decoration: none;
    background: #f8f9fa;
    color: black;
    height: 32px;
    padding: 0px 4px;
    width: 10%;
    border-radius: 0;
    font-weight: 700;
}
.search_textbox_free {
    width: 25%;
    display: inline-flex;
    border: 1px solid;
    position: absolute;
    /* bottom: 13px; */
    right: 1%;
    top: 5.5%;
}
#search_input_avai {
    border: none;
}
.icon_search_list_free {
    margin-top: 2px;
    padding-left: 9px;
    margin-right: 5px;
}
.header_table_free_avai {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
}
.human_resource_template #over-view-table {
    display: block;
    overflow-y: scroll;
    margin-top: -25px;
    margin: 0 auto;
    height: auto;
}
#over-view-table .over-header {
    background: #eee !important;
}
#over-view-table > tr:nth-child(odd) {
    background: #FAFAFA;
}
/* for desktop screen */

@media only screen and (max-width: 1800px) {
    #count_member_of_company {
        left: 4%;
    }
    .human_resource_template #human_resource_table .human_resource_content tr:nth-last-child(4) {
        bottom: 38px;
    }
    .close-table {
        cursor: pointer;
        width: 75px;
        position: absolute;
        top: 5px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 1600px) {
    #count_member_of_company {
        left: 4%;
    }
}

@media only screen and (max-width: 1400px) {
    #count_member_of_company {
        left: 6%;
    }
    .human_resource_template #human_resource_table .human_resource_content tr:nth-last-child(4) {
        bottom: 37px;
        font-size: 10px;
    }
    .human_resource_template #human_resource_table .human_resource_content tr:nth-last-child(2) {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    #count_member_of_company {
        left: 7%;
    }
    .human_resource_template #human_resource_table .human_resource_content tr:nth-last-child(4) {
        bottom: 40px;
    }
}

@media only screen and (max-width: 800px) {
    #count_member_of_company {
        left: 8%;
    }
}
