@media only screen and (max-width: 1800px) {
    .fearure_detail{
        padding-left: 0;
    }

    .join_resign_trend {
        height: 250px !important;
        display: flex !important;
    }
    .list_menu .btn_annalys .text_btn_annalys{
        margin-left: 4px;
    }
    .tablinks  {
        margin-top: 15px !important;
    }
    .list_menu .active {
        margin-top: 15px;
    }
    .list_future button {
        width: 90%;
        background: white;
        border: 0.01px solid #F0F0FF;
        height: 26%;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 6%;
    }
    
    .join_resign_trend>svg {
        height: 245px !important;
    }
    .join_resign_trend .legend {
        border-collapse: collapse !important;
        border-spacing: 0px;
        /* flex: 0; */
        margin: 0 !important;
        flex: 0 !important;
    }
    .monthly_join_resign_trend {
        margin-top: 0;
        margin-bottom: 1%;
    }
    .time {
        height: 5.4%;
    }
    .employee_infomation > hr{
        margin: 0;
    }
    .button-checkout .stat-content .stat-text {
        font-size: 12px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 55px;
    }
    .button-checkout-user.stat-content .stat-text {
        font-size: 12px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 55px;
    }
    .button-checkin .stat-content .stat-text {
        font-size: 12px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 55px;
    }
    .button-checkin-user .stat-content .stat-text {
        font-size: 12px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 55px;
    }
    /* .emp_graph >svg {
        height: 280px;
        width: 280px;
    } */
    .emp_graph .legend {
        margin-top: 10px;
    }
    .list_future button h4 {
        font-size: 1rem;
    }

    .o_clock {
        font-size: 1rem;
    }
    .fearure_detail {
        font-size: 1rem;
    }
    .btn_leave_request  > h3 {
        margin-left: 0px;
    }
    .list-employee .leave_graph .legend {
        margin-top:11px;
    }
    .list-employee .leave_graph {
        margin-top: 17px;
    }
    .emp_graph .legend>tbody>tr {
        width: 50%;
        font-size: 10px;
    }
    .leave_graph .legend>tbody {
        display: flex;
        width: 90%;
        margin: 0;
        margin-left: 12%;
    }
    .leave_graph .legend>tbody>tr {
        width: 50%;
        font-size: 10px;
    }

    .list_future button h4 {
        margin-bottom: 0 !important;
        float: left;
        padding-left: 7px;
    }
    .list_menu button h5 {
        color: #BDBDBD;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        padding-right: 17px;
        margin-left: 8px;
        /* font-size: 1.4rem; */
        /* padding-left: 7px; */
        /* font-weight: 700; */
    }
    .stat-widget-one .stat-icon i {
        font-size: 14px;
        font-weight: 900;
        display: inline-block;
        color: #fff;
        margin-left: -36px;
    }
    .department .detail {
        margin-top: 25px;
    }
    .list_future > button > h3 {
        margin-left: 20px;
    }
    .hr_payslip > h3 {
        margin-left: 16px !important;
    }
    .hr_contract > h3 {
        margin-left: 15px !important;
    }
    .emp_graph {
        margin-top: -42px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        justify-content: space-around;
    }
    .emp_graph .legend>tbody {
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        width: 71%;
        margin: 0 auto;
    }
    .list_menu .btn_announcements .text_btn_announcements {
        margin-left: 2px;
    }
    .all-request p {
        font-weight: 700;
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        color: #343A40;
        font-size: 1rem;
    }
    .job-request p {
        font-weight: 700;
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        color: #343A40;
        font-size: 1rem;
    }
    .list-employee .text-employee {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 8px 8px 6px;
        position: static;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border-radius: 24px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 16px 0px 0px 0px;
        border: white;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        height: 6%;
        font-size: 1.3rem;
    }
    .department .detail h3 {
        color: #6869AC;
        padding: 0;
        margin-bottom: 67px;
        font-size: 1.3rem;
    }  
    .information h2 {
        margin-top: 3%;
        color: #6869AC;
        font-size: 1.3rem;
    }  
    .employee_dashboard_detail>div>h3 {
        font-size: 1.3rem;
        margin-top: 17.5px
    }
    .announcements_detail h3 {
        font-size: 1.2rem;
    }
    .Birthday h3 {
        font-size: 1.2rem;
    }
    .text_news{
        font-size: 12px !important;
    }
    .text_detail .new_code {
        font-size: 10px !important;
    }
    .list_news  .text_detail .new_code {
       width: 23% !important;
    }
    .information p {
        font-size: 10px;
    }
    .fearure_detail_user {
        font-size: 12px;
        padding-left: 0;
    }
    .list_future_user button h4 {
        font-size: 12px;
        margin-bottom: 0 !important;
        float: left;
        padding-left: 7px;
    }
    .btn_dashboard_detail_user .text_btn_dashboard_detail{
        margin-left: 18px;
    }
    /* .emp_graph svg { 
        margin-top: 11.5px;
    } */
    /* annnoumn */
    .birthday-detail img {
        position: static;
        width: 30px;
        height: 30px;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
        border-radius: 45%;
    }
    .name {
        display: inline;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        margin: 0;
        color: black;
    }
    .days {
        display: inline;
        font-weight: 400;
        font-size: 9px;
        line-height: 20px;
        margin: 0;
        color: black;
        float: right;
        position: absolute;
        right: 0;
        padding-right: 2rem;
    }
    .department > div .emp_graph .legend > tbody > tr > td > svg {
        margin-bottom :5px
    }
    .department .detail h3 {
        color: #6869AC;
        padding: 0;
        margin-bottom: 67px;
        font-size: 1rem;
    }
    .list-employee .text-employee {
        font-size: 1rem;
    }
    .employee_dashboard_detail>div>h3 {
        font-size: 1rem;
        margin-top: 17.5px;
    }
}