@media only screen and (max-width: 720px) {
    /* .employee_dashboard_detail {
        display: flex;
        margin-top: 1%;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;
    }
    .image-employee {
        border-radius: 3%;
        height: 8%;
        background-color: #00438b;
        min-width: 80%;
        margin: 0 auto;
        width: 90%;
        margin-top: 9%;
    }
    .employee_dashboard_detail .department {
        width: 100%;
        border-radius: 24px;
        height: 22%;
    }
    .employee_dashboard_detail .Leave-Request {
        width: 100%;
        margin-left: 1%;
        background: white;
        border-radius: 24px;
        height: 21%;
    }
    .employee_dashboard_detail .New-employee {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 16px;
        position: static;
        width: 100%;
        top: 0px;
        background: #FFFFFF;
        border-radius: 24px;
        flex: none;
        flex-grow: 0;
        margin: 0% 0% 0% 1%;
        height: 21%;
    }
    .welcome_employee {
        width: 98%;
        height: 14.7%;
        background-color: #FFFFFF;
        position: absolute;
        bottom: 0;
        display: flex;
        align-content: center;
        border-radius: 24px;
        color: #00438b;
    }
    .welcome_employee {
        display: none;
    }
    .employee_infomation {
        background: #FFFFFF;
        border-radius: 24px;
        margin-top: 1%;
        padding-right: 1%;
        height: 96%;
        padding-left: 1%;
    }
    .information {
        text-align: center;
        height: 2%;
    }
    .list_menu {
        height: 8%;
    }
    .list_future {
        text-align: center;
        height: 11%;
    }
    .time {
        background: #ffffff;
        height: 2.5%;
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-content: space-around;
        flex-direction: column;
        border-style: unset;
        border-radius: 7px;
        justify-content: space-around;
        margin-top: 8%;
        background: #F0F0FF;
    }
    .hr_attendance_login {
        margin-top: 5%;
        height: 2.5%;
        z-index: 1000;
    }
    .employee-right {
        overflow: hidden;
        height: 99%;
        padding-left: 1%;
        padding-right: 0.5%;
    }
    .leave_graph .legend>tbody {
        display: flex;
        width: 59%;
        margin: 0;
        margin-left: 28%;
    } */
    .employee_infomation {
        background: #FFFFFF;
        border-radius: 24px;
        margin-top: 1%;
        padding-right: 1%;
        height: 50%;
        padding-left: 1%;
    }
    .image-employee {
        border-radius: 3%;
        height: 22%;
        background-color: #00438b;
        min-width: 26%;
        margin: 1px auto;
        width: 30%;
    }
    .information {
        text-align: center;
        height: 9%;
    }
    .list_menu {
        height: 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .list_menu .btn_announcements {
        margin-top: 0;
    }
    .list_menu .btn_annalys {
        margin-top: 0px;
    }
    .list_menu button {
        display: flex;
        width: 90%;
        margin-left: 2%;
        background: none;
        border: none;
        height: 90% !important;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        border-radius: 8px;
    }
    .list_menu {
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .list_future {
        text-align: center;
        height: 8%;
        display: flex;
    }
    .list_future button {
        width: 90%;
        background: white;
        border: 0.01px solid #F0F0FF;
        height: 100%;
        margin: 0 auto;
        border-radius: 5px;
    }
    .time {
        height: 11%;
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-content: space-around;
        flex-direction: column;
        border-style: unset;
        border-radius: 7px;
        justify-content: space-around;
        margin-top: 12px;
        background: #F0F0FF;
    }
    .hr_attendance_login {
        margin-top: 8px;
        height: 9.5%;
        z-index: 1000;
    }
    .employee_dashboard_detail {
        display: flex;
        margin-top: 1%;
        height: 81.5%;
        overflow-y: scroll;
        flex-direction: column;
    }
    .employee_dashboard_detail .department {
        width: 100%;
        border-radius: 24px;
        height: 100%;
    }
    .employee_dashboard_detail .New-employee {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 16px;
        position: static;
        width: 100%;
        top: 0px;
        background: #FFFFFF;
        border-radius: 24px;
        flex: none;
        flex-grow: 0;
        margin: 0% 0% 0% 1%;
        height: 100%;
    }
    .employee_dashboard_detail .Leave-Request {
        width: 100%;
        margin-left: 1%;
        background: white;
        border-radius: 24px;
        height: 100%;
    }
    legend {
        border-collapse: collapse;
        border-spacing: 0px;
        flex: 100%;
        /* margin: 1% auto; */
        margin-left: 15%;
    }
}