.tenant-link-max-width-field {
    white-space: nowrap !important; 
    overflow: hidden !important;    
    text-overflow: ellipsis !important;
    max-width: 200px !important; 
    vertical-align: top !important;
}
.tenant-white-space {
    white-space: pre-wrap; 
  }