.o_dhx_gantt_root{
    /* width: 100%; */
    height: 100%;
}

.o_dhx_gantt{
    /* width: 100%; */
    height: 100%;
}

.o_dhx_gantt.gantt_container{
}

.o_dhx_gantt_header{
    background-color: white;
    min-height: 40px;
   /* position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; */
    /* justify-content: space-between; */
    /* padding: 0.25rem 0.5rem;
    padding-left: 16px;
    border-bottom: 1px solid #ced4da;
    background-color: white; */
}
.o_dhx_button{
    margin-left:10px;
    margin-top:4px;
    margin-bottom:4px;
}
.o_dhx_button_right{
    float:right;
    margin-right:10px;
    margin-top:4px;
    margin-bottom:4px;
}
.o_dhx_button_left{
    float:left;
    margin-left:10px;
    margin-top:4px;
    margin-bottom:4px;
}
.o_dhx_gantt_weekend{
    background: #f4f7f4 !important;
}

.danger {
    border: 1px solid #990614;
    color: #f30f0f;
    background: #f30f0f;
}

.danger .gantt_task_progress {
    background: #990614;
}

.warning {
    border: 1px solid #eec41e;
    color: #ffffcc;
    background: #ffeb3b;
}

.warning .gantt_task_progress {
    background: #eec41e;
}

.none {
    display: none;
}

.projectHeaderColor {
    color: #71639e!important;
    font-weight: 700 !important;
}
.headerColor{
    color: #71639e!important;
}
.gantt-dropdown{
    position:absolute;
    top:0;
    right:0;
    width: 20px;
    height:100%;
    z-index:2;
    border-left:1px solid #cecece
  
  }
  
  .gantt-dropdown:hover{
    background: rgba(0,0,0, 0.1);
  }
  
  #gantt_dropdown {
    position: absolute;
    display: none;
    border: 1px solid #cecece;
    background: #fff;
    padding: 10px;
    top: 92.813px !important;
    left: 28.8% !important;
    z-index: 10000;
}
.gantt_grid .gantt_grid_scale .gantt_grid_head_cell.gantt_grid_head_text 
{
    text-align: center;
    font-weight: 100 !important;
}
.gantt_side_content {
    margin-left: 4.5px;
    width: 143px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gantt_grid_head_working_day {
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom_task .gantt_link_control{
    display:none;
  }
.gantt-dropdown {
    border-left: none;
}
.gantt_grid_head_buttons  .gantt_sort {
    display: none;
}
#gantt_dropdown> label > input[name="text"] {
    display: none !important;
}
#gantt_dropdown> label > input[name="start_date"] {
    display: none !important;
}
#gantt_dropdown> label > input[name="end_date"] {
    display: none !important;
}
#o_dhx_button_left {
    display: none;
}
#dropdownMenuButton {
    display: none;
}
/* .gantt_task_line.gantt_milestone {
    margin-left: 40px
} */
/* .gantt_task_line.gantt_milestone .gantt_link_control.task_left {
        height: 21px;
        line-height: 21px;
        margin-left: 16.5px !important;
}  */

.radio_type_upgrade {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-content: space-between;
}
@media only screen and (max-width: 1000px) {
    .radio_type_upgrade {
        width: 14% !important;
        height: 5.3%;
        left: 25% !important;
    }
}

