.o_form_project_tasks .o_form_sheet_bg .o_form_sheet  .oe_form_field .o_wysiwyg_wrapper .odoo-editor-editable {
    height: auto !important;
    border: 1px solid black;
    border-bottom: 1px solid black !important;
    border: 0.5px solid   #cccccc;
    border-bottom: 0.5px solid #cccccc !important;
    margin-bottom: 40px;
}
div[name="task_score"] {
    width: 28.5%!important;
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
}
@media only screen and (max-width: 1600px) {
    div[name="task_score"] {
        width: 29%!important;
    }
}
@media only screen and (max-width: 1400px) {
    div[name="task_score"] {
        width: 21%!important;
    }
}
@media only screen and (max-width: 1200px) {
    div[name="task_score"] {
        width: 20%!important;
    }
}
/* project, annou*/
.o_kanban_project_tasks .o_quick_editable, .oe_form_field_html p {
    word-break: break-word !important;
}
span.o_quick_editable {
    word-break: break-word !important;
}